.add-todo-form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 4px;
  margin-left: 4px;
}

.todo-input {
  flex: 1;
  padding: 12px 16px;
  border: 2px solid #e0e6ed;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-coloer 0.3s ease;
}

.todo-input:focus {
  border-color: #3498db;
}

.todo-input::placeholder {
  color: #95a5a6;
}

.add-button {
  padding: 12px 14px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #2980b9;
}

.add-button:active {
    transform: translateY(1px);
}