.container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0, 0.4);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
}

.app-title {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 300;
}